.seveninvensun-side{
    width:25%;
    float:left;
    padding:5px;
}
.seveninvensun-view{
    width:75%;
    border-left:1px solid #ddd;
    float:right;
    padding:10px;
}
.li-side{
    line-height:30px;
    width:100%;
    margin-top:10px;
    a{
        color:#000;
    }
}